.window {
  max-width: 984px;
  width: 100%;
  height: 700px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.window-img-abs {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
}
.window__images {
  background: #0034a5;
  border-radius: 10px 0 0 10px;
  width: 480px;
  height: 699px;
  position: relative;
}
.window__images--first {
  top: 0;
  left: 0;
  img {
    border-radius: 10px 10px 0 0;
  }
  z-index: 6;
}
.window__images--text {
  position: relative;
  z-index: 6;
  img {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50px);
  }
}
.window__images--second {
  position: absolute;
  z-index: 6;
  bottom: 0;
  left: 0;
  img {
    border-radius: 0 0 0 20px;
  }
}
.mobile {
  display: none;
}
.window__registration {
  width: 100%;
  height: 699px;
  background-color: #2b6eff;
  border-radius: 0 10px 10px 0;
}
@media screen and (max-width: 1024px) {
  .window__images {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .window__registration__title {
    padding-left: 0;
  }
  .window__images--first {
    img {
      position: relative;
      width: 100%;
      top: -140px;
    }
  }
  .window__images--text {
    top: -165px;
  }
  .window__images--second {
    width: 100%;
    img {
      width: 100%;
      position: relative;
      top: 135px;
      border-radius: 0 0 10px 10px;
    }
  }
  .window__registration {
    border-radius: 10px 10px 0 0;
  }
  .window-img-abs {
    display: none;
  }
  .window__registration {
    height: 100%;
  }
  .window {
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 768px) {
  .window__images {
    height: 465px;
  }
}
@media screen and (max-width: 550px) {
  .window__registration__title {
    text-align: center;
  }
  .window__images {
    display: none;
  }
  .mobile {
    display: block;
    width: 100%;
    height: clamp(8.375rem, -1.68rem + 41.25vw, 12.5rem);
    border-radius: 0 0 10px 10px;
  }
  .window__images--first img {
    top: 0;
  }
  .window__images--second img {
    top: 13px;
  }
  .window__images--text {
    position: absolute;
    top: 50%;
    left: 20%;
  }
}
@media screen and (max-width: 400px) {
  .window__images--text {
    left: 10%;
  }
}
